NODE_ENV=production
SERVER_PORT=3001
SERVER_HOST=127.0.0.1

VITE_CLERK_PUBLISHABLE_KEY=

DB_HOSTNAME=127.0.0.1:3306
DB_PORT=3306
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

HOST=store-barrel-1387238226.cos.ap-shanghai.myqcloud.com
SecretId=your_cos_secret_id
SecretKey=your_cos_secret_key
